@import "variables";
@import "form";
@import "reset";

// General styles

body {
  background: $backgroundColor;
  color: $textColor;
}

a {
  @include a;
}

img {
  max-width: 100% !important;
}

.opaque-text {
  color: $opaqueTextColor;
}

.ui.header {
  color: $textColor;
}

.ui.celled.grid {
  box-shadow: 0 0 0 1px $borderColor;
}

.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column {
  box-shadow: -1px 0 0 0 $borderColor;
}

.ui.negative.message {
  background-color: #dba6a6;
}

// Header

header {
  padding: 0 10px;

  .ui.secondary.menu .item.logo {
    @include a;
  }

  .ui.menu:not(.vertical) .item > .input {
    margin-left: 10px;
    background: #565656;
  }
}

// Left sidebar

aside {
  #categories-menu {
    margin: 0;

    .item {
      display: inline;
      color: $textColor;

      i {
        vertical-align: initial;
      }
    }
  }
}

// Content

#content-wrapper {
  margin-top: 0;
}

#content {
  .ui.breadcrumb {
    margin-bottom: 20px;
  }

  .ui.breadcrumb .divider {
    color: $textColor;
  }

  .ui.grid > .column.no-padding:not(.row) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .post-thumbnail {
    margin: 0 5px 0 0;
    padding: 0;

    img {
      min-width: 100px;
      max-height: 150px;
    }
  }

  #post-meta {
    h1#post-title {
      font-size: 1em;
    }

    #post-author {
      .post-date {
        color: $opaqueTextColor;
      }
    }
  }

  #post-actions {
    border-bottom: 1px solid $borderColor !important;

    .active.item {
      border-color: $primaryColor;
    }
  }

  .ui.comments {
    * {
      color: $textColor;
    }

    .date {
      color: $opaqueTextColor;
    }
  }

  .ui.pagination.menu {
    @include grayComponent;

    .active.item {
      background: $backgroundColor;
    }
  }

  .field * {
    color: $textColor;
  }
}

// Right sidebar

#right-sidebar {
  .most-voted-posts.ui.ordered.list > .item::before {
    position: absolute;
  }

  .ui.ordered.list > .item::before {
    position: initial;
    color: $textColor;
  }

  .ui.vertical.list .item {
    display: flex;
    flex-direction: row;
    align-items: center;

    img.ui.avatar.image {
      max-width: 16px;
      height: auto;
      margin-left: 10px;
    }

    .content {
      color: $opaqueTextColor;

      .header {
        color: $textColor;
        font-weight: normal;

        span {
          color: $opaqueTextColor;
        }
      }
    }
  }
}

// Footer

footer {
  padding: 10px;
  color: $opaqueTextColor;
}
