@import "variables";
@import "form";
@import "reset";

// General styles

img {
  max-width: 100% !important;
}

// Body

body {
  background: $backgroundColor;
  color: $textColor;

  a {
    @include a;
  }
}

// Header

header {
  padding: 0 10px;
  border-bottom: 1px solid $borderColor;

  .ui.secondary.menu .item.logo {
    @include a;
  }

  .ui.menu:not(.vertical) .item > .input {
    margin-left: 10px;
    background: #565656;
  }
}

// Sidebar

aside {
  border-right: 1px solid $borderColor;

  #categories-menu {
    margin: 0;

    .item {
      display: inline;
      color: $textColor;

      i {
        vertical-align: initial;
      }
    }
  }
}

// Content

#content {
  .ui.breadcrumb .divider {
    color: $textColor;
  }

  .ui.grid > .column.no-padding:not(.row) {
    padding-top: 0;
    padding-bottom: 0;
  }

  .post-thumbnail {
    padding: 5px;

    img {
      max-width: 150px !important;
      min-width: 100px;
      max-height: 150px;
    }
  }

  .ui.pagination.menu {
    @include grayComponent;

    .active.item {
      background: $backgroundColor;
    }
  }
}

// Footer

footer {
  border-top: 1px solid $borderColor;
  padding: 10px;
  color: $opaqueTextColor;
}
