form {
  .ui.icon.input input,
  .ui.search.dropdown,
  &.ui.form textarea {
    @include grayComponent;
    border-radius: .28571429rem;
    color: $backgroundColor;
    transition: background .3s ease;

    &:focus {
      background: #bababa;
      transition: background .3s ease;
      color: $backgroundColor !important;
    }
  }

  .menu.transition.visible {
    @include grayComponent;
  }

  .ui.selection.dropdown .menu > .item {
    border-top: none;
  }

  i.icon {
    color: #ffffff;
  }
}

#thin-wide-form {
  max-width: 300px;
}

#columns-form {
  .field {
    float: left;
    clear: initial;
    margin-right: 20px;
  }

  .divider {
    width: 100%;
    height: 5px;
    clear: both;
  }
}
