form {
  .ui.icon.input input,
  &.ui.form textarea {
    @include grayComponent;
    border-radius: .28571429rem;
    color: $backgroundColor;
    transition: background .3s ease;

    &:focus {
      background: #bababa;
      transition: background .3s ease;
      color: $backgroundColor !important;
    }
  }

  i.icon {
    color: #ffffff;
  }
}

#thin-wide-form {
  max-width: 300px;
}
