.section-title {
  margin-bottom: 20px;
}

.ui.icon.input input,
.ui.icon.input textarea {
  background: #4f4f4f;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 0.28571429rem;
  color: #ffffff;
  transition: background 0.3s ease;
}

.ui.icon.input input:focus,
.ui.icon.input textarea:focus {
  background: #6e6e6e;
  transition: background 0.3s ease;
}

.ui.icon.input i.icon {
  color: #ffffff;
}

.ui.grid {
  margin: 0;
}

img {
  max-width: 100% !important;
}

body {
  background: #2b2b2b;
  color: #d6d6d6;
}

body a {
  color: #fa6077 !important;
}

body a:hover {
  color: #fff4f6 !important;
  text-decoration: none;
}

header {
  padding: 0 10px;
  border-bottom: 1px solid #4f4f4f;
}

header .ui.secondary.menu .item.logo {
  color: #fa6077 !important;
}

header .ui.secondary.menu .item.logo:hover {
  color: #fff4f6 !important;
  text-decoration: none;
}

header .ui.menu:not(.vertical) .item > .input {
  margin-left: 10px;
  background: #565656;
}

aside {
  border-right: 1px solid #4f4f4f;
}

aside #categories-menu {
  margin: 0;
}

aside #categories-menu .item {
  display: inline;
  color: #d6d6d6;
}

aside #categories-menu .item i {
  vertical-align: initial;
}

#content .ui.breadcrumb .divider {
  color: #d6d6d6;
}

#content .ui.grid > .column.no-padding:not(.row) {
  padding-top: 0;
  padding-bottom: 0;
}

#content .post-thumbnail {
  padding: 5px;
}

#content .post-thumbnail img {
  max-width: 150px !important;
  min-width: 100px;
  max-height: 150px;
}

#content .ui.pagination.menu {
  background: #4f4f4f;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

#content .ui.pagination.menu .active.item {
  background: #2b2b2b;
}

#right-sidebar .ui.ordered.list > .item::before {
  position: initial;
  color: #d6d6d6;
}

#right-sidebar .ui.vertical.list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#right-sidebar .ui.vertical.list .item img.ui.avatar.image {
  max-width: 16px;
  height: auto;
  margin-left: 10px;
}

#right-sidebar .ui.vertical.list .item .content {
  color: #8c8c8c;
}

#right-sidebar .ui.vertical.list .item .content .header {
  color: #d6d6d6;
  font-weight: normal;
}

#right-sidebar .ui.vertical.list .item .content .header span {
  color: #8c8c8c;
}

footer {
  border-top: 1px solid #4f4f4f;
  padding: 10px;
  color: #8c8c8c;
}

