.section-title {
  margin-bottom: 20px;
}

.mt {
  margin-top: 20px;
}

form .ui.icon.input input,
form .ui.search.dropdown,
form.ui.form textarea {
  background: #4f4f4f;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
  border-radius: 0.28571429rem;
  color: #2b2b2b;
  transition: background 0.3s ease;
}

form .ui.icon.input input:focus,
form .ui.search.dropdown:focus,
form.ui.form textarea:focus {
  background: #bababa;
  transition: background 0.3s ease;
  color: #2b2b2b !important;
}

form .menu.transition.visible {
  background: #4f4f4f;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

form .ui.selection.dropdown .menu > .item {
  border-top: none;
}

form i.icon {
  color: #ffffff;
}

#thin-wide-form {
  max-width: 300px;
}

#columns-form .field {
  float: left;
  clear: initial;
  margin-right: 20px;
}

#columns-form .divider {
  width: 100%;
  height: 5px;
  clear: both;
}

.ui.grid {
  margin: 0;
}

body {
  background: #2b2b2b;
  color: #d6d6d6;
}

a {
  color: #ff6529 !important;
}

a:hover {
  color: #ffd3c2 !important;
  text-decoration: none;
}

img {
  max-width: 100% !important;
}

.opaque-text {
  color: #8c8c8c;
}

.ui.header {
  color: #d6d6d6;
}

.ui.celled.grid {
  box-shadow: 0 0 0 1px #4f4f4f;
}

.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column {
  box-shadow: -1px 0 0 0 #4f4f4f;
}

.ui.negative.message {
  background-color: #dba6a6;
}

header {
  padding: 0 10px;
}

header .ui.secondary.menu .item.logo {
  color: #ff6529 !important;
}

header .ui.secondary.menu .item.logo:hover {
  color: #ffd3c2 !important;
  text-decoration: none;
}

header .ui.menu:not(.vertical) .item > .input {
  margin-left: 10px;
  background: #565656;
}

aside #categories-menu {
  margin: 0;
}

aside #categories-menu .item {
  display: inline;
  color: #d6d6d6;
}

aside #categories-menu .item i {
  vertical-align: initial;
}

#content-wrapper {
  margin-top: 0;
}

#content .ui.breadcrumb {
  margin-bottom: 20px;
}

#content .ui.breadcrumb .divider {
  color: #d6d6d6;
}

#content .ui.grid > .column.no-padding:not(.row) {
  padding-top: 0;
  padding-bottom: 0;
}

#content .post-thumbnail {
  margin: 0 5px 0 0;
  padding: 0;
}

#content .post-thumbnail img {
  min-width: 100px;
  max-height: 150px;
}

#content #post-meta #post-author {
  margin-bottom: 20px;
}

#content #post-meta #post-author .post-date {
  color: #8c8c8c;
}

#content #post-meta #post-author a:hover {
  color: #2b2b2b !important;
}

#content #post-meta #post-rating,
#content #post-meta #post-tags {
  margin-bottom: 20px;
}

#content #post-meta #post-rating a.ui:hover,
#content #post-meta #post-tags a.ui:hover {
  color: #2b2b2b !important;
}

#content #post-meta .ui.tag.label::after {
  background-color: #2b2b2b !important;
}

#content #post-meta .ui.comments * {
  color: #d6d6d6;
}

#content #post-meta .ui.comments .date {
  color: #8c8c8c;
}

#content .ui.pagination.menu {
  background: #4f4f4f;
  border: 1px solid rgba(255, 255, 255, 0.15) !important;
}

#content .ui.pagination.menu .active.item {
  background: #2b2b2b;
}

#content .field * {
  color: #d6d6d6;
}

#right-sidebar .most-voted-posts.ui.ordered.list > .item::before {
  position: absolute;
}

#right-sidebar .ui.ordered.list > .item::before {
  position: initial;
  color: #d6d6d6;
}

#right-sidebar .ui.vertical.list .item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#right-sidebar .ui.vertical.list .item img.ui.avatar.image {
  max-width: 16px;
  height: auto;
  margin-left: 10px;
}

#right-sidebar .ui.vertical.list .item .content {
  color: #8c8c8c;
}

#right-sidebar .ui.vertical.list .item .content .header {
  color: #d6d6d6;
  font-weight: normal;
}

#right-sidebar .ui.vertical.list .item .content .header span {
  color: #8c8c8c;
}

footer {
  padding: 10px;
  color: #8c8c8c;
}

